<div class="container">
	
<form >
	
	<label>Nom</label>
	<input class="form-control" type="text" name="" ng-model="eleve.Nom">
	<label>Prenom</label>
	<input class="form-control" type="text" name="" ng-model="eleve.Prenom">
	<label>Javascript</label>
	<input class="form-control" type="text" name="" ng-model="eleve.Javascript">
	<label>Mail</label>
	<input class="form-control" type="text" name="" ng-model="eleve.Mail">
	<label>Pourquoi_A</label>
	<input class="form-control" type="text" name="" ng-model="eleve.Pourquoi_A">
	<label>Pourquoi_S</label>
	<input class="form-control" type="text" name="" ng-model="eleve.Pourquoi_S">
	<label>app_pref</label>
	<input class="form-control" type="text" name="" ng-model="eleve.app_pref">
	<label>before_IFA</label>
	<input class="form-control" type="text" name="" ng-model="eleve.before_IFA">
	<label>pourquoi_IFA</label>
	<input class="form-control" type="text" name="" ng-model="eleve.pourquoi_IFA">
	<label>site_pref</label>
	<input class="form-control" type="text" name="" ng-model="eleve.site_pref">
</form>

	<button ng-click="add(eleve)">save</button>
</div>