<div class="container">
	
<form >
	
	<input class="form-control" type="text" name="" ng-model="eleve.Nom">
	<input class="form-control" type="text" name="" ng-model="eleve.Prenom">
	<input class="form-control" type="text" name="" ng-model="eleve.Javascript">
	<input class="form-control" type="text" name="" ng-model="eleve.Mail">
	<input class="form-control" type="text" name="" ng-model="eleve.Pourquoi_A">
	<input class="form-control" type="text" name="" ng-model="eleve.Pourquoi_S">
	<input class="form-control" type="text" name="" ng-model="eleve.app_pref">
	<input class="form-control" type="text" name="" ng-model="eleve.before_IFA">
	<input class="form-control" type="text" name="" ng-model="eleve.pourquoi_IFA">
	<input class="form-control" type="text" name="" ng-model="eleve.site_pref">
</form>

	<button ng-click="update(eleve)">update</button>
</div>